* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    /*background-image: url("/images/b9b60bebbff1caccf0457cdae8dbda7f.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;*/
    background-color: black;
}
.bio{
    position: relative;
    left: 350px;
    bottom: 550px;
}
.aboutme {
    border-top: 5px solid blueviolet;
}
#img {
    position: relative;
    top: 50px;
    right: 400px;
}
.contact {
    border-top: 5px solid blueviolet;
    text-align: center;
    padding-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact h1{
    font-size: xx-large;
    font-weight: bolder;
}
.contact h2{
    font-size: x-large;
    font-weight: bold;
}
.contact h3{
    font-size: large;
    font-weight: lighter;
}
.project {
    border-top: 5px solid blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
.project h1{
    font-size: xx-large;
    font-weight: bold;
}
.workplanner{
    border: 5px solid black;
    padding: 5px;
}
.workplanner h2{
    font-size: x-large;
    font-weight: bold;
}
